# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Dataset
data/
*.zip

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db


# Kaggle dataset files (IMPORTANT)
*.csv

# or specifically
PART 1/*.csv

# notebooks cache
.ipynb_checkpoints/

# system files
.DS_Store
Thumbs.db
